.weatherList {
    display: flex;
    justify-content: space-evenly;
}

.weatherCard {
    background-color: lightgrey;
    border: 2px solid darkgrey;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}